## Monthly sales and Advertising cost Prediction using linear regeression:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from scipy import stats

In [3]:
df = pd.read_csv("monthly_sales.csv",)
df

   monthly_sales  cost
0            200   0.5
1            900   5.0
2            450   1.9
3            680   3.2
4            490   2.0
5            300   1.0

In [4]:
type(df)

pandas.core.frame.DataFrame